
{{#each this}}
    <div class="comment-section-container">
        <section class="comment">
            <a class="comment-info">{{user.username}} on {{created_at}}</a>
            <a class="comment-text">{{comment_text}}</a>
        </section>
    </div>
{{/each}}
