<link rel="stylesheet" href="/stylesheets/postHB.css">

{{#if loggedIn}}
    <h2 class="center-item loggedin-title">You are LOGGED IN!</h2>
    {{!-- <form class="center-item">
        <label for="post-text">post:</label>
        <input type="text" id="post-text"/>
    </form> --}}
{{/if}}

<ol>
    {{#each posts as |posts|}}
            {{> post-info posts}}
    {{/each}}
</ol>