<link rel="stylesheet" href="/stylesheets/loginHB.css">


<div class="center">
    <div>
        <form class="login-form">
            <div>
                <label class="label-size" for="email-login">email:</label>
                <input class="input-size" type="text" id="email-login"/>
            </div>
            <div>
                <label class="label-size" for="password-login">password:</label>
                <input class="input-size" type="password" id="password-login"/>
            </div>
            <div class="center-item">
                <button class="login-page-button" type="submit">LOGIN</button>
            </div>
        </form>

        <form class="signup-form">
            <div>
                <label class="label-size" for="username-signup">username:</label>
                <input class="input-size" type="text" id="username-signup"/>
            </div>
            <div>
                <label class="label-size" for="email-signup">email:</label>
                <input class="input-size" type="text" id="email-signup"/>
            </div>
            <div>
                <label class="label-size" for="password-signup">password:</label>
                <input class="input-size" type="password" id="password-signup"/>
            </div>
            <div class="center-item">
                <button class="login-page-button" type="submit">SIGNUP</button>
            </div>
        </form>   
    </div>
 
</div>


<script src="/javascript/login.js"></script>