.new-post-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    padding: 2rem;
    background-color: rgb(97, 45, 97);
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(0,0,0,0.75);
}

.new-post-form {
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.spacing {
    margin: 1rem 0 1rem 0;
    height: 2rem;
    width: 100%;
}

.post-height {
    height: 4rem;
}

.edit-post-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: rgb(159, 159, 159);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -1.7rem;
    box-shadow: 10px 10px 25px rgb(0,0,0,0.75);
    margin-bottom: 2rem;
}

.edit-post {
    color: black;
    text-decoration: none;
    font-weight: bold;
}