.center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: rgb(107, 107, 143);
    padding: 2rem;
    margin: 2rem;
    justify-content: space-between;
    width: 30rem;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(0,0,0,0.75);
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: rgb(107, 107, 143);
    padding: 2rem;
    margin: 2rem;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(0,0,0,0.75);
}

label {
    color: white;
}

.input-size {
    width: 20rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    padding: .25rem;
    padding-left: .5rem;
    font-size: 1.25rem;
}

.label-size {
    font-size: 1.5rem;
}

.login-page-button {
    width: 10rem;
    border-radius: 15px;
    padding: 1rem;
}

.login-page-button:hover {
    background-color: lightgrey;
    font-weight: bold;
}